<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Backend Test{% endblock %}</title>
    {% block stylesheets %}
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap" rel="stylesheet">
    <link href="{{ asset('css/styles.css') }}" rel="stylesheet" />
    {% endblock %}

    {% block javascripts %}
    {#{{ encore_entry_script_tags('app') }}#}
    {% endblock %}
</head>

<body>
    <h1>Hello ReportController</h1>

    <form action="/" method="POST" class="form_container">
        <div style="margin: 20px 0;">
            <label class="lbl_text" for="account">Please enter the Account ID you'd like to display</label>
            <input id="accountInput" type="text" placeholder="Account ID" name="account" class="inp_text">
        </div>

        <div class="btn_container inactive">
            <input type="submit" id="btnGet" class="button" name="submit1" value="GET DATA">
            <input type="submit" id="btnShow" class="button" name="submit2" value="SHOW ALL">
        </div>

        <p class="text">Aggregated performance for <span>
            <select name="filter" id="filter">
                <option value="0">All</option>
                <option selected value="1">Active</option>
                <option value="2">Inactive</option>
            </select>
        </span> accounts listed below</p>
    </form>

    <div>
        <table id="table">
            {# Even if we don´t have data, the header of table will appear #}
            <tr class="inactive">
                <th>Account Name</th>
                <th>Account ID</th>
                <th>Spend</th>
                <th>Clicks</th>
                <th>Impressions</th>
                <th>Cost per Click</th>
            </tr>


            
        </table>
    </div>
    <script src="{{ asset('js/main.js') }}"></script>
</body>

</html>